.footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: fixed;
  right: 0;
  align-items: center;
  padding: 10px;
  min-height: 75px;
  background-color: #ff7b00;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 2;
}

.icon-size {
  font-size: 33px;
  border: none;
}
