.login-page {
  align-items: center;
  background-image: url('../images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 100px;
}

.login-title {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  text-decoration: underline;
}

.login-form {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.541);
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  margin-top: 40px;
  padding: 40px 0;
  width: 90%;
}

.login-form div {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  gap: 10px;
  height: 40px;
  padding-left: 10px;
  text-align: center;
  width: 80%;
}

.login-form input {
  border: none;
  outline: none;
  width: 80%;
}

.login-form input::placeholder {
  font-size: 12px;
}
